body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

.App {
    font-family: Calibri, sans-serif;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    background-color: #f4f4f4;
    border-radius: 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1), 0 0 3px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: rgba(255, 0, 50, 0.2);
    font-family: Candara, 'Arial Nova', sans-serif;
    font-size: 4.5em;
}