.task-done {
    background-color: #e0ffe0;
}

.task-pending {
    background-color: #f4f4f4;
}

.task-overdue {
    background-color: #ffcccc;
}

.action-button {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.1s ease;
    border-radius: 10px;
}

.action-button:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}