.task-done {
    background-color: #e0ffe0;
}

.task-pending {
    background-color: #ffe0e0;
}

.action-button {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.2s ease;
}

.action-button:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}